*{
    margin: 0px;
    padding: 0px;
}
.home{
   margin-top: 80px;
   text-align: center;
   letter-spacing: 8px;
}
.home a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
}
.login{
    height: 285px;
    width: 320px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #d8dee2;
    border-radius: 5px;
}
.login p{
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}
.login .btn{
    width: 279px;
    margin: 40px auto;
    display: table;
}
.register{
    height: 52px;
    width: 320px;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
    line-height: 12px;
    border: 1px solid #d8dee2;
    border-radius: 5px;
}
.register p{
    display: inline-block;
}
.register a{
    text-decoration:none;
}